<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="test/bootstrap.php"
>
    <testsuites>
        <testsuite name="php-bugherd-api Test Suite">
            <directory>./test/Bugherd/</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>functional</group>
        </exclude>
    </groups>

    <filter>
        <whitelist>
            <directory suffix=".php">./lib/Bugherd/</directory>
        </whitelist>
    </filter>
</phpunit>
